<%- include('./partials/head') %>

<% if ((locals.RecordarmeEmail != undefined) || (locals.NombreUsuario != undefined)||(locals.UserName != undefined)) { %>
  <%- include('./partials/headerlogueado') %>
<% }else{ %>
<%- include('./partials/header') %>
<%}%>

<div class="banner">
  <img src="images/decobanner2.png" alt="Banner de ofertas">
</div>

<div class="container products-wrapper">
  <div class="row">
    <div class="col-12">
      <h2 class="products-title">Últimos Productos</h2>
    </div>
    <% for (let i = 0; i < listaproductos.length; i++) { %>
      <div class="col-12 col-sm-6 col-lg-3">
        <section class="product-box">
          <a href="product/<%= listaproductos[i].id %>">
            <figure class="product-box_image">
              <img src="/images/products/<%= listaproductos[i].imagen_producto %>">
            </figure>
            <article class="product-box_data">
              <h2><%= listaproductos[i].nombre_producto %></h2>
              <p><%= listaproductos[i].descripcion_producto %></p>
              <a href="/users/profile/<%= listaproductos[i].usuario.id %>"><p><%= listaproductos[i].usuario.email%></p>
            </article>
          </a>
        </section>
      </div>
    <% } %>
  </div>
</div>

<%- include('./partials/footer') %>