<%- include('./partials/head') %>

<% if ((locals.RecordarmeEmail != undefined) || (locals.NombreUsuario != undefined)) { %>
  <%- include('./partials/headerlogueado') %>
<% }else{ %>
<%- include('./partials/header') %>
<%}%>

<div class="container products-wrapper">
    <div class="d-flex align-items-center">
        <h2 class="products-title">Nombre del producto</h2> 
        <p class="product-detail-description">
            <a href="/product/product-add">Editar</a>
        </p>
    </div>
    <div class="product-detail">
        <div class="row">
            <article class="col-12 col-lg-8 product-detail-info">
                <img src="/images/products/03c29b8335f8bab0610a7907004d0243.jpg" alt="" class="product-detail-img">
                <p class="product-detail-description">
                    </p>
            </article>
        
                
                
            <div class="col-12 col-lg-4">
                <section class="comments">
                    <% for (let i = 0; i < comentarios.length; i++) { %>
                    <article>
                        <img src="<%= comentarios[i].imagen_perfil %>" alt="">
                        <div class="data">
                            <p class="user">
                            <strong> <a href="/users/profile"> <%= comentarios[i].nombre_usuario %> </a></strong>
                            <p><%= comentarios[i].textocomentario %></p>
                        </div>
                    </article>
                    <% } %>
                
                </section>
                <form class="form" action="/product" method="GET">
                    <input class="form-input" type="text"  placeholder="Agregar comentario">
                    <button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
                </form>
                <hr>
            </div>
        </div>
    </div>
</div>

<%- include('./partials/footer') %>