<%- include('./partials/head') %>
<%- include('./partials/headerlogueado') %>


<div class="container products-wrapper">
    
    <div class="row">
        <div class="col-12">
            <h2 class="products-title">Agregar productos</h2>
            <% if (locals.errors && errors.imagen) { %>
                <p><%= errors.imagen.msg %></p>
            <% } %>
            <% if(locals.errors && errors.nombre){ %>
                <p><%= errors.nombre.msg %></p>
              <% } %>
            <% if(locals.errors && errors.descripcion){ %>
                <p><%= errors.descripcion.msg %></p>
              <% } %>
        </div>
        <!-- Show the "ultimos" products -->

        <h2 class="col-12">
        <form action="/product/product-add" method="get">
            <label for="imagen">Imagen:</label><br>
            <input type="text" id="imagen" name="imagen" accept="image/*" value="<%= locals.old !== undefined && old.imagen ? old.imagen : "" %>"><br><br>


            <label for="nombre">Nombre del producto:</label><br>
            <input type="text" id="nombre" name="nombre" value="<%= locals.old !== undefined && old.nombre ? old.nombre : "" %>"><br><br>


            <label for="descripcion">Descripción:</label><br>
            <textarea id="descripcion" name="descripcion" rows="4" cols="50" value="<%= locals.old !== undefined && old.descripcion ? old.descripcion : "" %>"></textarea><br><br>
            <br>
            <br>
            <a href="#"></a><input type="submit" value="Enviar">
        </form>
    </h2>
<%- include('./partials/footer') %>